# Python
backend/venv/
backend/__pycache__/
*.pyc

# Environment Variables
.env
backend/.env

# Django
db.sqlite3

# VS Code
.vscode/

# Playwright
backend/sessions/

# Logs
*.log

# Expo
frontend/node_modules/
frontend/.expo/

# Mac
.DS_Store